@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --colorp2: #191919;
  --colorprimary: #faf9f6;
  --colorsecondary: #734023;
  --coloraccent: #e1ad01;
  --buttonaccent: #bb9001;
  --colorlinks: #e1ad01;
  /* --ff: "Open Sans", sans-serif; */
  --ff: "Courier Prime", monospace;
  --h1: 45px / 61px var(--ff);
  --h2: 36px / 36px var(--ff);
  --h3: 24px / 30px var(--ff);
  --links: bold 18px / 18px var(--ff);
  --p2: 30px / 36px var(--ff);
  --p: 18px / 30px var(--ff);
  --transition: 0.35s ease-in-out;
}

h1,
h2,
h3,
p,
.links,
.p2 {
  margin: 0px;
}
h1 {
  font: var(--h1);
}
h2 {
  font: var(--h2);
}
h3 {
  font: var(--h3);
}
.links {
  font: var(--links);
}
.p2 {
  font: var(--p2);
}
p {
  font: var(--p);
}
html {
  scroll-behavior: smooth;
  /* height: 100vh; */
}
body {
  font-family: var(-ff);
  padding: 0px;
  margin: auto;
  background-color: var(--colorprimary);
  color: var(--colorsecondary);
  /* min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100vh; */
}

footer {
  margin-top: auto;
  bottom: 0;
}
main {
  min-height: 100vh;
}

.section {
  width: 90vw;
  max-width: 1080px;
  margin: auto;
  margin-bottom: 10vh;
}

/* Header */
header {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

a {
  text-decoration: none;
  color: var(--colorlinks);
  font: var(--links);
}

a:hover {
  color: var(--coloraccent);
  transition: var(--transition);
}

header a {
  color: var(--colorsecondary);
  font-weight: normal;
}

/* media query for hamburger */
@media (max-width: 800px) {
  .hero {
    flex-direction: column-reverse;
    padding-bottom: 40px;
  }
  .blogs {
    flex-direction: column;
    max-height: auto;
    max-width: 300px;
  }
}
/* Hero */
.column {
  display: flex;
  align-items: top;
  gap: 20px;
  flex-wrap: wrap;
}
.hero div {
  flex: 1;
}
img {
  width: 100%;
}
Image {
  width: 100%;
}
.image-container {
  position: relative;
  width: 100%;
}
.button {
  font: var(--links);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  height: 50px;
  border: solid 2px var(--colorlinks);
}
.button:hover {
  border: solid 2px var(--buttonaccent);
  transition: var(--transition);
  color: var(--buttonaccent);
}
#primary-links {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: left;
}
.offerings {
  margin: auto;
  margin-bottom: 10vh;
  text-align: center;
  padding: 10px;
}
#blogs {
  text-align: center;
  padding-top: 45px;
  padding-bottom: 45px;
  margin-bottom: 0;
}
.blogs {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
}
.blogListContainer {
  text-align: center;
}

.blogs li:hover {
  scale: 1.02;
  transition: var(--transition);
}
.postCards {
  flex: 1;
  border-radius: 5px;
  cursor: pointer;
  transition: var(--transition);
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  max-height: auto;
  flex-direction: column;
}
.postCardText {
  max-height: fit-content;
  border: 1px solid black;
  margin-top: 0;
  text-overflow: ellipsis;
}
.postCardImage {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

/* [slug] css content */
#avatarNameAndDateContainer {
  display: flex;
  margin-bottom: 2.5rem;
  justify-content: space-between;
  align-items: center;
}

#coverImageContainer {
  margin-bottom: 2rem;
  max-width: 500px;
  max-height: auto;
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  @keyframes pulse {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
}
