/* [slug] css content */
#avatarNameAndDateContainer {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
  align-items: center;
}

#coverImageContainer {
  margin-bottom: 2rem;
  max-width: 500px;
  max-height: auto;
}
