#blogsTitle {
  text-align: center;
  padding-bottom: 45px;
  margin-bottom: 0;
}

.buttonContainer {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 0;
}

.buttonContainer p {
  display: inline;
}

.textButton {
  cursor: pointer;
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
}

.activeTextButton {
  text-decoration: underline;
  color: var(--coloraccent);
}

.inactiveTextButton {
  text-decoration: none;
  color: var(--colorsecondary);
}
.inactiveTextButton:hover {
  color: var(--buttonaccent);
}

.blogGrid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  list-style: none;
}

.blogGrid li:hover {
  scale: 1.02;
  transition: var(--transition);
}

.blogListContainer {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: auto;
}

@media (min-width: 640px) {
  .blogGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2.5rem;
  }

  .blogListContainer {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .blogGrid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
